<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <staticContent>
      <mimeMap fileExtension="." mimeType="text/plain" />
    </staticContent>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <fileExtensions />
      </requestFiltering>
    </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.aspx" />
                <add value="index.html" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
		      <httpErrors>
        <remove statusCode="404" subStatusCode="-1" />                
        <error statusCode="404" path="http://bitfossil.com/Build.aspx" responseMode="Redirect" />                
      </httpErrors>
      <modules runAllManagedModulesForAllRequests="true"/>
  <handlers>
            <add name="bitFossilIncludes" path="index.htm" verb="GET" modules="ServerSideIncludeModule" resourceType="File" />
        </handlers>
  </system.webServer>
</configuration>