body {
	font-family:Arial, Helvetica, sans-serif;
	background:black;
}

a {
   color:#A0A0A0;
}

img {
	max-width: 100%;
	height: auto;
}

.main {
	overflow: hidden; /* this will clear the float from .item */
	max-width:95%;
}

.main .item {
	margin: 15px;
        max-width: 800px;

       
}



.main .item .content {
	word-wrap: break-word;	
        background:#6D5F67;
	color:#fff;
	padding:20px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.main .item .content table { 
	max-width: 800px;
	word-break:break-all; 
	word-wrap:break-word; 
	padding:10px;
}

.main .item .content .splash {
	
}

.section-body {text-align: left;}
